@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
body{
    background-color: rgb(18, 1, 37);
}
.form-container {
  box-sizing: border-box;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  width: 500px;
  height: 500px;
  margin: 30px auto;
  background: rgb(64, 71, 102);
  border: none;
  
}

.form-title {
    color:white;
    margin-top: 10px;
    font-weight: 400;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  /* identical to box height */

  letter-spacing: 0.0025em;

  
}
.form-control {
    color:white;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-radius: 10px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
}
.form-control input {
    background: rgb(214, 199, 148);
  border-radius: 10px;
  width: 90%;
  height: 45px;
  border: 1px solid #95a0a7;
  color:rgb(43, 42, 42);

  font-size: 1.5em;
  border: none;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-submit {
  width: 60%;
  height: 45px;

  padding-left: 10px;
  color: #000;
  border: none;
  background: rgb(216, 178, 178);
  border-radius: 10px;
}

.btn-submit:hover{
    background-color: rgb(236, 149, 149);
    cursor:pointer;
}
.text{
    text-align: center;
}
a{
    color:yellow;
}